<h1>Click an Artist To View It</h1>
<%= link_to 'Add Artist', new_billboard_artist_path(@billboard) %>
<%= link_to 'View Songs', view_songs_path %>
<table class="ui table">
  <% @artists.each do |artist| %>
  <tr>
  <td><%= link_to artist.name, [@billboard, artist] %></td>
  <td><%= link_to artist.avatar, [@billboard, artist] %></td>
  <td><%= link_to artist.genre, [@billboard, artist] %></td>
  </tr>
  <br>
  <br>
  <% end %>
</table>